<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <title>MOTORAR | LET'S RIDE TOGETHER</title>

    <!-- Stylesheets
    ================================================= -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="images/motorar/favicon.png"/>
</head>
<body>

<!-- Top Banner
================================================= -->
<section id="banner">
    <div class="container">

        <!-- Sign Up Form
        ================================================= -->
        <div class="sign-up-form">
            <a href="/signup" class="logo"><img src="images/motorar/logo_transparent.png" alt="Moto-logo"/></a>
            <h2 class="text-white">Share your ride experiences</h2>
            <div class="line-divider"></div>
            <div class="form-wrapper">
                <p class="signup-text">Please introduce your data:</p>
                <form action="#">
                    <fieldset class="form-group">
                        <label for="sign-name"></label>
                        <input type="text" class="form-control" id="sign-name" placeholder="Enter username">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="sign-email"></label>
                        <input type="email" class="form-control" id="sign-email" placeholder="Enter email">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="sign-password"></label>
                        <input type="password" class="form-control" id="sign-password" placeholder="Enter a password">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="repreat-sign-password"></label>
                        <input type="password" class="form-control" id="repreat-sign-password" placeholder="Repeat password">
                        <br>
                        <span id="message"></span>
                    </fieldset>
                    <p>By signning up you agree to the terms</p>
                    <button id="btn-sign" class="btn-secondary">NEXT</button>
                </form>
            </div>
            <a href="/login">Already have an account?</a>

        </div></div></section><!-- Sign Up Form End -->

<!-- Scripts
================================================= -->
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.appear.min.js"></script>
<script src="js/jquery.incremental-counter.js"></script>
<script src="js/script.js"></script>
<script src="js/signup.js"></script>

</body>
</html>
