<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <title>MOTORAR | Timeline</title>

    <!-- Stylesheets
    ================================================= -->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
          integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous"/>
    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="images/motorar/favicon.png"/>
</head>
<body>

<!-- Header
================================================= -->
<header id="header">
    <nav class="navbar navbar-default navbar-fixed-top menu">
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/newsfeed">
                    <img src="images/motorar/Untitled.png" alt="logo"/></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="form-signin" method="get" action="/logout">
                    <ul class="nav navbar-nav navbar-right main-menu">
                        <li class="dropdown"><a href="/newsfeed">Home</a></li>

                        <li class="dropdown">
                            <button type="submit" id="log-out" style="color: white; font-weight: bold; border: none; background-color: #3694C9; margin-top: 15px">Log out</button>
                        </li>
                    </ul>
                </form>
                <form class="navbar-form navbar-right hidden-sm">
                    <div class="form-group">
                        <i class="icon ion-android-search"></i>
                        <label>
                            <input type="text" id="search" class="form-control"
                                   placeholder="Search users and posts">
                            <i class="fa fa-search" id="search-icon" aria-hidden="true"></i>
                        </label>
                    </div>
                </form>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
</header>
<!--Header End-->

<div id="page-contents">
    <div class="container">
        <div class="row">

            <!-- Newsfeed Common Side Bar Left
            ================================================= -->
            <div class="col-md-3 static">
                <div id="profile-card" class="profile-card">
                    <div class="profile-photo-timeline">

                    </div>
                    <div class="moto-photo-timeline">

                    </div>
                    <div class="profile-name-timeline">

                    </div>
                    <div class="moto-name-timeline">

                    </div>
                </div><!--profile card ends-->
            </div>
            <div class="col-md-7">

                <!-- Post Create Box
                ================================================= -->
                <form class="create-post">
                    <div class="row">
                        <div class="col-md-7 col-sm-7">
                            <div class="form-group">
                                <div class="photo-form">

                                </div>
                                <label for="exampleTextarea1"></label>
                                <textarea name="texts" id="exampleTextarea1" cols="30" rows="1" class="form-control"
                                          placeholder="Title of the post"></textarea>
                                <label for="exampleTextarea2"></label>
                                <textarea name="texts" id="exampleTextarea2" cols="30" rows="1" class="form-control"
                                          placeholder="Content of the post"></textarea>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-5">
                            <i class="icon-picture"></i>
                            <button id="btn-publish-timeline" class="btn btn-primary pull-right">Publish</button>
                        </div>
                    </div>
                </form><!-- Post Create Box End-->

                <!-- Post Content
                ================================================= -->

                <div id="post-feed-timeline" class="post-content">


                </div>
            </div>

            <!-- Newsfeed Common Side Bar Right
            ================================================= -->
            <div class="col-md-2 static">
                <div class="suggestions" id="sticky-sidebar">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer
================================================= -->
<footer id="footer">
    <div class="copyright">
        <p>Andrei Romanciuc - FASTTRACKIT © 2020</p>
    </div>
</footer>

<!--preloader-->
<div id="spinner-wrapper">
    <div class="spinner"></div>
</div>

<!-- Scripts
================================================= -->
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.sticky-kit.min.js"></script>
<script src="js/jquery.scrollbar.min.js"></script>
<script src="js/script.js"></script>
<script src="js/timeline.js"></script>
<script src="js/jquery-3.5.0.js"></script>
<script src="js/jquery-3.5.1.js"></script>
</body>
</html>
